<ng-container >
<div class="container padding-top bullets">
  <div class="row">
    <div class="col-lg-4 pt-3" data-aos="fade-up">
      <img src="../../assets/img/btn1.png" class="bullet">
      <h2 class="pt-4"><span class="color-principal"> Beneficios
      </span></h2>
      <h5> por ser cliente</h5>
      <p class="font-size">Todos nuestros clientes tienen beneficios exclusivos: económicos, de salud y de bienestar. Además, contamos con un programa en el cual sumás puntos todos los meses con tus pólizas y accedés a premios, sorteos y otros beneficios.

      </p>
    </div>
    <div class="col-lg-4 pt-3" data-aos="fade-up">
      <img src="../../assets/img/btn2.png">
      <h2 class="pt-4"><span class="color-principal"> Amplia red</span></h2>
      <h5>de Productores Asesores</h5>
      <p class="font-size">Contamos con un equipo capacitado para brindarte contención y atención personalizada estés donde estés.</p>
    </div>
    <div class="col-lg-4 pt-3" data-aos="fade-up">
      <img src="../../assets/img/btn3.png">
      <h2 class="pt-4"><span class="color-principal"> Contratación </span></h2>
      <h5> simple</h5>
      <p class="font-size"> Tenemos variedad de coberturas disponibles para que contrates de manera ágil y simple.</p>
    </div>
  </div>
</div>
</ng-container>
