<ng-container >
<div class="container padding-top bullets">
  <div class="row">
    <div class="col-lg-4 pt-3" data-aos="fade-up">
      <img src="../../assets/img/btn1.png" class="bullet">
      <h2 class="pt-4"><span class="color-principal"> t('bullets.title1')</span></h2>
      <h5> t('bullets.text1')</h5>
      <!-- <p class="font-size">Te brindaremos varios
        <B> códigos QR </B> para que tus clientes puedan escanearlo con su celular.</p> -->
    </div>
    <div class="col-lg-4 pt-3" data-aos="fade-up">
      <img src="../../assets/img/btn2.png">
      <h2 class="pt-4"><span class="color-principal"> t('bullets.title2')</span></h2>
      <h5> t('bullets.text2')<br> t('bullets.text3')</h5>
      <!-- <p class="font-size">Una vez escaneado, se abriá una interfaz dónde deberá ingresar
        <B>su dni o código brindado </B>una vez cargado en el portal.</p> -->
    </div>
    <div class="col-lg-4 pt-3" data-aos="fade-up">
      <img src="../../assets/img/btn3.png">
      <h2 class="pt-4"><span class="color-principal"> t('bullets.title3')</span></h2>
      <h5> t('bullets.text4')<br>  t('bullets.text5')</h5>
      <!-- <p class="font-size"> Podrás observar la
        <B>rutina cargada </B>por el profesor, con toda la
        <B>información</B> interactiva. Videos, imagenes y descripción</p> -->
    </div>
  </div>
</div>
</ng-container>
