<ng-container>
<footer class="footer-black aa-footer">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-3">
        <a class="btn btn-link btn-neutral" href="#">
          <img class="w-100" src="../../../assets/img/logoIdeas2.svg"></a>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <ul class="footerEstilo">
              <span class="footerTitulo"> t('footer.title')</span>
              <hr class="footerHr">
              <li>
                <a href="/home"> t('footer.link1')</a>
              </li>
              <li>
                <a href="/funcionalidad"> t('footer.link2')</a>
              </li>
              <li>
                <a href="/recomendaciones" > t('footer.link3')</a>
              </li>
              <li>
                <a href="home#contacto"> t('footer.link4')</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul class="footerEstilo">
              <span class="footerTitulo"> t('footer.title2')</span>
              <hr class="footerHr">
              <li>
                <a href="/preguntasFrecuentes"> t('footer.link5')</a>
              </li>
              <li>
                <a href="/terminos"> t('footer.link6')</a>
              </li>
              <li>
                <a href="/politicas"> t('footer.link7')</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul class="footerEstilo">
              <span class="footerTitulo"> t('footer.link4')</span>
              <hr class="footerHr">
              <li class="footerLista">
                <a href="https://wa.me/+5491127225447?text=Hola%20quiero%20información%20de%20la%20rutina" target="_blank"><b>+549 (011)-2722-5447</b></a>
              </li>
              <br>
              <li>
                <a href="https://www.instagram.com/ideasintegralesok/"><b> t('footer.instagram')</b></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3 d-flex justify-content-center align-items-center">
        <p class="">&copy;  t('footer.copyRigth')</p>
      </div>
    </div>
  </div>
</footer>
</ng-container>
