<ng-container>
<footer class="footer-black aa-footer">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-3">
        <a class="btn btn-link btn-neutral" href="#">
          <img class="w-100" src="../../../assets/img/logo.png"></a>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <ul class="footerEstilo">
              <span class="footerTitulo"> Navegación </span>
              <hr class="footerHr">
              <li>
                <a href="/home"> Home</a>
              </li>
              <li>
                <a href="/productos"> Productos </a>
              </li>
              <li>
                <a href="/contacto" > Contacto </a>
              </li>
              <li>
                <a href="/nosotros"> Nosotros </a>
              </li>
              <li>
                <a href="/servicios"> Servicios </a>
              </li>
              <li>
                <a href="#"> Portal </a>
              </li>
            </ul>
          </div>

          <!-- <div class="col-md-4">
            <ul class="footerEstilo">
              <span class="footerTitulo"> t('footer.title2')</span>
              <hr class="footerHr">
              <li>
                <a href="/preguntasFrecuentes"> t('footer.link5')</a>
              </li>
              <li>
                <a href="/terminos"> t('footer.link6')</a>
              </li>
              <li>
                <a href="/politicas"> t('footer.link7')</a>
              </li>
            </ul>
          </div> -->

          <div class="col-md-4">
            <ul class="footerEstilo">
              <span class="footerTitulo"> Contactos </span>
              <hr class="footerHr">
              <li class="footerLista">
                <a href="https://wa.me/+5491164778878?text=Hola%20quiero%20información" target="_blank"><span style="color: white;">Seguros generales: </span><b>+549 (011)-6477-8878</b></a>
              </li>
                 <li class="footerLista">
                <a href="https://wa.me/+5491145280955?text=Hola%20quiero%20información" target="_blank"><span style="color: white;">Seguros Vida/ART: </span><b>+549 (011)-4528-0955</b></a>
              </li>
              <br>
              <li>
                <span>Email: <b class="color-principal">{{web}} </b></span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3 d-flex justify-content-center align-items-center">
        <p class="">&copy; 2025. Mogensen Montenegro. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
</ng-container>
