<app-button-whatsapp></app-button-whatsapp>
<app-header [isHeader]="false"></app-header>
<app-banner-funcionalidad-header></app-banner-funcionalidad-header>

<div class="section-productos py-5">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <img class="icon-w" src="../../../assets/img/iconoEdificio.png"><b class="title">Integral de Consorcio</b>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img class="sub-icon-w" src="../../../assets/img/fuego.png">
          <span class="title-producto"><b>INCENDIO (EDIFICIO y CONTENIDO)</b></span>
          <hr>
          <span><b class="color-principal">INCENDIO:</b> La manifestación súbita, imprevista y descontrolada del fuego,
            que cause daños a cosas
            y/o personas.
            RIESGO CUBIERTO: DAÑO CAUSADO POR ACCIÓN DIRECTA DEL FUEGO AL EDIFICIO O AL CONTENIDO HASTA LA SUMA
            ASEGURADA CONTRATADA
            O LOS LÍMITES PARA CASOS DE ADICIONALES</span><br><br>
          <span><b class="color-principal">INCLUSIONES:</b>
            LIMPIEZA Y RETIRO DE ESCOMBROS (5%)
            DAÑOS PROVOCADOS POR CUALQUIER MEDIO EMPLEADO PARA EXTINGUIR EL INCENDIO
            DEMOLICIÓN ORDENADA POR AUTORIDAD COMPETENTE
            DAÑO DIRECTO A EQUIPOS ELECTRÓGENOS MÓVILES</span><br><br>
          <span><b class="color-principal">EXCLUSIONES:</b> Quemadura, chamuscado o cualquier deterioro que provenga de
            contacto o aproximación
            a fuentes de calor,
            salvo que se produzca un incendio o principio de incendio a consecuencia de algunos de esos hechos.<br>
            <b>La corriente, descarga u otros fenómenos eléctricos que afecten la instalación eléctrica, la maquinaria,
              aparatos y circuitos que la integran, aunque ellos se manifiesten en forma de fuego, fusión y/o explosión;
              No obstante será indemnizable el mayor daño que de la propagación del fuego o de la onda expansiva,
              resultase
              para las cosas precedentemente enunciadas.</b><br>
            Falta de o deficiencia en la provisión de energía, aún cuando fuera momentánea, a las máquinas o sistemas
            productores de frío, cualquiera sea la causa que los origine.<br>
            Falta o deficiencia en la provisión de energía, aún cuando fuera momentánea, a otras máquinas o sistemas
            que no sean los indicados en el inciso anterior, salvo que provengan de un siniestro indemnizable que afecte
            directamente al establecimiento asegurado.<br>
            La acción del fuego sobre artefactos, maquinarias o instalaciones, cuando actúe como elemento integrante
            de sus sistemas de funcionamiento.<br>
            Privación de alquileres y otras rentas y en general todo lucro cesante</span><br><br>

          <img class="sub-icon-w" src="../../../assets/img/mazo.png">
          <span class="title-producto"><b>RESPONSABILIDAD CIVIL:</b></span>
          <hr>
          <span>Cuando hablamos del seguro de responsabilidad civil, es importante entender quién es el asegurado. En
            este caso, el asegurado es el consorcio del edificio,
            es decir, la entidad que representa a todos los propietarios. Esto significa que el consorcio es quien está
            protegido por el seguro.
            Por otro lado, los habitantes del edificio, como los inquilinos o propietarios, son considerados terceros.
            Esto significa que, si un habitante sufre un daño dentro
            del edificio y culpa al consorcio por ese daño, el seguro del consorcio puede cubrir los costos de
            dicho reclamo. <br>
            Además, también se incluyen como terceros a las
            personas ajenas al edificio
            , como visitantes o proveedores, que podrían verse afectados por algún incidente.</span><br><br>

          <img class="sub-icon-w" src="../../../assets/img/delincuente.png">
          <span class="title-producto"><b>ROBO:</b></span>
          <hr>
          <span>Para que un evento se considere robo debe haber violencia contra personas (o amenaza de violencia) o
            violencia contra cosas (romper la cerradura, un portón, un vidrio, para luego sustraer los bienes del
            consorcio).-
            Si esto ocurre, se considera un ROBO, y se cubre, hasta el total de la suma asegurada, a los bienes del
            consorcio que estén dentro del mismo
            La cobertura principal, que se cubre hasta el 100%, es ROBO DENTRO DEL EDIFICIO
            También hay adicionales para cuando:<br>
            El robo es fuera del edificio (elementos tipifi cados en póliza, como manijones de bronce, otros bronces,
            portero eléctrico)
            Cuando no es robo sino hurto (la apropiación indebida de bienes ajenos, sin el uso de
            violencia)</span><br><br>

          <img class="sub-icon-w" src="../../../assets/img/vaso.png">
          <span class="title-producto"><b>CRISTALES</b></span>
          <hr>
          <span>La cobertura cubre vidrios verticales, no horizontales (techos), localizados en areas comunes del edifi
            cio. También cubre, dentro de las unidades funcionales, los vidrios fi jos de fachada, como pueden ser
            paneles fi jos en el depto (no ventanas móviles), separadores de balcón, baranda de balcon</span><br><br>

          <img class="sub-icon-w" src="../../../assets/img/fuga.png">
          <span class="title-producto"><b>DAÑO POR AGUA</b></span>
          <hr>
          <span>La causa debe ser rotura de cañería principal, dentro de muros del edificio, ya sea troncales, o de
            derivación a UF, pero siempre INTRA MUROS, y lo que se cubre no es la CAUSA ( El propio caño roto) sino la
            consecuencia, es decir, el daño que provoco el agua al salir por el caño roto, ya sea al edificio y al
            contenido tanto del consorcio como de consorcistas
            En estos casos es hasta la suma asegurada contratada. <br>
            También hay sublímites para otras causas: Agua proveniente del exterior</span><br><br>


        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
         <img class="icon-w" src="../../../assets/img/familia.png"><b class="title">Vida Colectivo</b>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <span> El artículo n° 248 de la Ley N° 20.744 de Contrato de Trabajo establece que, al momento de un siniestro el empleador tiene la obligación de cumplir con el pago de medio (1/2) sueldo por año trabajado a los beneficiarios en el caso de muerte, y un (1) sueldo por año trabajado en el caso de invalidez.
Si bien tener una póliza de vida colectivo NO es obligatorio, lo que sí es obligatorio es cumplir con la mencionada indemnización, lo que busca esta póliza es que el empleador cuente con la suma necesaria para cumplir con la Ley.<br>
El cálculo de la suma asegurada necesaria es: <b>CANTIDAD DE AÑOS TRABAJADOS x SUELDO BRUTO = SUMA ASEGURADA NECESARIA </b></span>
        </div>
      </div>
    </div>

      <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
          aria-expanded="false" aria-controls="collapseFour">
         <img class="icon-w" src="../../../assets/img/corazon.png"><b class="title">Vida Obligatorio</b>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <span> (Dec 1567/74) Seguro obligatorio.<br>
Cubre $1.632.576 en ocasión de muerte por cada trabajador.
</span>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <img class="icon-w" src="../../../assets/img/obrero.png"><b class="title">ART</b>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <span> <b>Seguro obligatorio</b><br>
-Las siglas significan Aseguradora del Riesgo en el Trabajo<br>
-Tiene como objetivo proteger a los trabajadores en caso de accidentes laborales o enfermedades profesionales.</span>
        </div>
      </div>
    </div>
  </div>
</div>
