
  <ng-container>
  <div class="featurette-divider"></div>
  <div class="row pointer" routerLink="/productos">
    <div class="col-sm-12 col-md-6" data-aos="fade-right">
        <img class="img-mancuernas" src="../../../assets/img/img2.jpg">
    </div>
    <div class="col-sm-12 col-md-6 bloque-texto h-100" data-aos="fade-left"
>
      <h2 class="titulares"><b>Seguros <B class="color-principal"> Patrimoniales</B></b><br></h2>
      <span class="text-muted subTitulo"> ¿Qué cubre?</span>
      <!-- <p class="lead"><b> Es obligatorio por ley en muchas provincias,</b>especialmente en edificios con ascensores o calderas.</p> -->
      <div class="estiloSeparador"></div>
      <p class="textoObjetivos">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Integral de consorcio</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Responsabilidad Civil</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Automotores:</b> Autos / Trailers, Motos<br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Hogar</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Comercio</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Industrias</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Otros:</b> Técnico, Caución, Bicicletas, Mascotas, Retiro, Asistencia al viajero, Embarcaciones<br>
      </p>
    </div>
  </div>
  </ng-container>

<ng-container>
  <div class="featurette-divider pt-5"></div>
  <div class="row">
    <div class="col-sm-12 col-md-6 bloque-texto h-100" data-aos="fade-right">
      <h2 class="titulares"><b>Servicio de <B class="color-principal"> Vida</B></b><br></h2>
      <span class="text-muted subTitulo"> ¿Qué cubre?</span>
      <div class="estiloSeparador"></div>
      <p class="textoObjetivos">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">ART</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Vida Obligatorio</b><br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Vida Colectivo:</b> Ley contrato de trabajo, Convenio mercantil, Trabajadores rurales<br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Accidentes Personales</b> (Ámbito laboral - Platino)<br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b91828" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> <b class="ml-2">Sepelio</b><br>
      </p>
    </div>
        <div class="col-sm-12 col-md-6" data-aos="fade-left">
        <img class="img-consorcio" src="../../../assets/img/img3.jpg">
    </div>
  </div>
  </ng-container>
