<div class="row separacionSuperior">
  <div class="col-md-6" data-aos="fade-right">
    <h4 class="titulares">
      <B class="color-principal">Mogensen – Montenegro – Asesora de Seguros.</B><br />
    </h4>
    <span class="text-muted subTitulo">La tranquilidad de estar seguro.</span>
    <p class="lead pt-3">
      En Mogensen – Montenegro Asesora nos dedicamos a ofrecer un asesoramiento profesional e integral a todos nuestros
      clientes. Nuestro objetivo principal es identificar las coberturas de seguros que proporcionen la mejor protección
      al costo más conveniente.

      <br />
      <br />
      <b>Comprensión del Mercado Argentino
      </b> <br />
      Conocemos a fondo las complejidades del mercado argentino y los riesgos potenciales que pueden afectar a tu
      empresa, hogar, bienes y seres queridos. Nuestra experiencia nos permite ofrecer soluciones adaptadas a tus
      necesidades específicas, asegurando que estés cubierto ante cualquier eventualidad.

      <br />
      <br />

      <b>Actualización Constante

      </b> <br />
      Nuestra continua interacción con las principales compañías de seguros del mercado nos permite mantenernos al día
      con las últimas tendencias y ofertas. Esto nos asegura brindar siempre el mejor servicio al costo justo,
      permitiendo que quienes eligen nuestros servicios estén protegidos y cuenten con nuestro asesoramiento y respaldo
      constante.
      <br />
      <br />
    </p>
    <div class="estiloSeparador"></div>
  </div>
  <div class="col-md-6" data-aos="fade-right">
    <div>
      <img class="w-100" src="../../../assets/img/insertar imagen.jpg" alt="imagen de empresa" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6" data-aos="fade-right">
    <div>
      <img class="w-100" src="../../../assets/img/insertar imagen.jpg" alt="imagen de empresa" />
    </div>
  </div>
  <div class="col-12 col-md-6" data-aos="fade-left">
    <h4 class="titulares" >
      <B class="color-principal" >Servicios de Gestión de Riesgos y Seguros.</B><br />
    </h4>
    <p class="lead"data-aos="fade-left">
      <b >Atención Personalizada

      </b> <br />
      Ofrecemos una atención personalizada para cada uno de nuestros clientes, asegurándonos de que sus necesidades sean
      atendidas de manera efectiva y eficiente.

      <br /> <br>

      <b>Inspección de Riesgos


      </b> <br />
      La inspección de riesgos es un paso crucial en el proceso de asegurar cualquier bien o actividad. Esta evaluación
      permite identificar y analizar los posibles peligros que podrían causar pérdidas o daños, y así determinar el tipo
      y nivel de cobertura que mejor se ajusta a las necesidades de aseguramiento.

      <br><br>
      <b>Asesoramiento Integral en Seguros
      </b>
      Brindamos asesoramiento integral para la contratación de seguros, orientándolo en la selección de las coberturas
      que mejor se adapten a sus necesidades específicas.

      <br> <br>
      <b>Asesoramiento Continuo
      </b>
      Durante las vigencias de las coberturas, ofrecemos un asesoramiento continuo para asegurar que su protección se
      mantenga actualizada y relevante.

      <br> <br>
      <b>Diseño de Planes de Afinidad</b>
      Nuestro equipo está capacitado para el diseño de planes de afinidad, creando soluciones personalizadas que se
      alineen con los intereses y necesidades de grupos específicos.

      <br> <br>
      <b>Administración Integral de Flotas
      </b>
      Ofrecemos servicios de administración integral de flotas, asegurando el mantenimiento, seguimiento y optimización
      de sus vehículos para una operación fluida.


      <br> <br>
      <b>Evaluación de Coberturas Vigentes
      </b>
      Realizamos una evaluación de coberturas vigentes para determinar si cumplen con sus necesidades actuales y
      proponemos ajustes si es necesario.


      <br> <br>
      <b>Auditoría de Coberturas y Costos
      </b>
      A través de una minuciosa auditoría de coberturas y costos, identificamos oportunidades de mejora y optimización
      en sus pólizas y gastos relacionados.


      <br> <br>
      <b>Tramitación de Siniestros
      </b>
      Gestionamos la tramitación de siniestros de manera eficiente, asegurando que el proceso sea lo más simple y rápido
      posible para nuestros clientes.

      <br> <br>
      <b>Asesoramiento en Trámites Relacionados con Siniestros
      </b>
      Proporcionamos asesoramiento ante trámites relacionados con los siniestros, facilitando el manejo de los mismos y
      asegurando una resolución favorable.


      <br> <br>
      <b>Capacitaciones y asesoramiento con temas de coberturas y siniestros.
      </b>
      Brindamos capacitación en el tema de seguros, la cual es fundamental para cualquier persona que desee entender
      cómo funcionan estos instrumentos financieros y cómo pueden protegerlos en diversas situaciones. Presentamos una
      guía básica sobre cómo actuar en diferentes casos relacionados con seguros.


      <br>
    </p>
  </div>
  <div class="col-12">
    <p class="conclusion">
      Con estos servicios, buscamos proporcionar una experiencia completa y satisfactoria en la gestión de riesgos y
      seguros para nuestros clientes.

    </p>
  </div>
</div>
