input, textarea {
  width: 700px;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #e1dfdf;
  font-size: 15px;
  font-weight: 300;
  color: #656464;
  transition: all 0.3s ease;
}

.subtitle{
  font-weight: 900;
  font-size: 18px;
}

.envio-alarma{
  color: #ea7306 !important;
  font-weight: 700;
  cursor: pointer;
}

.fa-play-circle-o{
  color: rgb(255, 77, 0)
}

.select-max{
  max-width: 50px;
}

.modal-body .form-select {
  width: 100%;
  padding: 9px 5px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #f0eeee;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  transition: all 0.3s ease;
  }

  .validacionTextoError{
    color:rgb(231, 29, 29);
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
  }
// ZONA CHECKBOX
.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch + label {
  align-items: center;
  color: #78768d;
  cursor: pointer;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
  position: relative;
  user-select: none;
}

.checkbox-wrapper-35 .switch + label::before,
  .checkbox-wrapper-35 .switch + label::after {
  content: '';
  display: block;
}

.checkbox-wrapper-35 .switch + label::before {
  background-color: #05012c;
  border-radius: 500px;
  height: 15px;
  margin-right: 8px;
  transition: background-color 0.125s ease-out;
  width: 25px;
}

.checkbox-wrapper-35 .switch + label::after {
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
  height: 13px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: transform 0.125s ease-out;
  width: 13px;
}

.checkbox-wrapper-35 .switch + label .switch-x-text {
  display: block;
  margin-right: .3em;
}

.checkbox-wrapper-35 .switch + label .switch-x-toggletext {
  display: block;
  font-weight: bold;
  height: 15px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked,
  .checkbox-wrapper-35 .switch + label .switch-x-checked {
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.125s ease-out, opacity 0.125s ease-out;
}

.checkbox-wrapper-35 .switch + label .switch-x-unchecked {
  opacity: 1;
  transform: none;
}

.checkbox-wrapper-35 .switch + label .switch-x-checked {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-35 .switch:checked + label::before {
  background-color: #ffb500;
}

.checkbox-wrapper-35 .switch:checked + label::after {
  transform: translate3d(10px, 0, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
  opacity: 1;
  transform: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.texto-adicional{
  position: absolute;
  right: 50px;
  top: 29%;
  transform: translateY(-50%);
}
