<ng-container>
<div class="content">
  <div class="imagenSocio">
      <div class="textoSocio">
          <p>PROTEGÉ LO QUE MÁS VALORÁS</p>
          <h1>Contratá seguros pensados para edificios, consorcios y quienes los hacen funcionar todos los días.<br>
            <b class="pt-4 d-block">Sumá tranquilidad, respaldo y experiencia.</b></h1>
          <div class="logoSocio d-flex justify-content-center tada">
              <img src="../../../assets/img/edificios.png" class="icono-celular" alt="">
          </div>
      </div>
  </div>
</div>
</ng-container>
