<div class="row p-5">
  <div class="col-6">
    <h3 class="title">Mis Administradores</h3>
    <span class="sub-titulo">Se almacenarán todos los datos de los administradores.</span>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <div class="w-400">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" [(ngModel)]="busqueda" class="form-control form-input" placeholder="Ingrese un valor a buscar..." (keydown.enter)="buscarData()"/>
      </div>
    </div>
    <div class="pl-3">
      <button class="btn btn-primary h-button btn-color" data-bs-toggle="modal" data-bs-target="#agregarConsorcio" (click)="crearNuevoAdministrador()">
        Crear Nuevo Administrador
      </button>
    </div>
  </div>
</div>

<div class="row px-5" *ngIf="administradores?.length">
  <div class="col tabla-scroll">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Consorcios</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr class="pointer usuario-selector fadeIn" *ngFor="let usuario of administradores">
        <td data-bs-toggle="modal" data-bs-target="#agregarConsorcio">{{ usuario.nombre || '-' }}</td>
        <td data-bs-toggle="modal" data-bs-target="#agregarConsorcio">{{ usuario.email || '-' }}</td>
        <td data-bs-toggle="modal" data-bs-target="#agregarConsorcio">{{ usuario.telefono || '-' }}</td>
        <td data-bs-toggle="modal" data-bs-target="#agregarConsorcio">{{ usuario.direccion || '-' }}</td>
        <td data-bs-toggle="modal" data-bs-target="#agregarConsorcio">{{ usuario.cantConsorcios }}</td>
        <td class="min-width d-flex">
          <div class="icon-box mr-3" (click)="eliminarAdministrador(usuario)">
            <i class="fa fa-trash color-principal"></i>
          </div>
          <div class="icon-box">
            <i class="fa fa-pencil color-principal"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="agregarConsorcio" tabindex="-1" aria-labelledby="agregarConsorcioLabel" aria-hidden="true">
  <app-add-administrador (clicked)="cerrarModal()"></app-add-administrador>
</div>

<div class="row px-5 fadeIn" *ngIf="administradores?.length === 0 && showEmpty">
  <div class="box-empty d-flex align-items-center justify-content-center flex-column">
    <img class="icono" src="../../../assets/img/caja.png"/>
    <span class="pt-2">No se encontraron resultados.</span>
  </div>
</div>
