<div class="row p-5">
  <div class="col-6">
    <h3 class="title">Mis Administradores</h3>
    <span class="sub-titulo">Se almacenarán todos los datos de los administradores.</span>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <div class="w-400">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" [(ngModel)]="busqueda" (ngModelChange)="buscarData()" class="form-control form-input" placeholder="Ingrese un valor a buscar..." (keydown.enter)="buscarData()"/>
      </div>
    </div>
    <div class="pl-3">
      <button class="btn btn-primary h-button btn-color" (click)="crearNuevoAdministrador()">
        Crear Administrador
      </button>
    </div>
  </div>
</div>

<div class="row px-5" *ngIf="administradores?.length">
  <div class="col tabla-scroll">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Cuil/Cuit</th>
        <th>Fecha de Nacimiento</th>
        <th>Consorcios</th>
        <th>Observación</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr class="usuario-selector fadeIn" *ngFor="let usuario of administradores">
        <td>{{ usuario.nombre || '-' }}</td>
        <td>{{ usuario.email || '-' }}</td>
        <td>{{ usuario.telefono || '-' }}</td>
        <td>{{ usuario.direccion || '-' }}</td>
        <td>{{ usuario.cuit || '-' }}</td>
        <td>{{ fmtFecha(usuario.fechaNacimiento) || '-' }}</td>
        <td>{{ usuario.consorciosCount || 0 }}</td>
        <td class="text-center">
          <ng-container *ngIf="(usuario.observacion || '').trim().length; else sinObs">
            <button type="button" class="btn btn-link p-0" (click)="verObs(usuario)" title="Ver observación" aria-label="Ver observación">
              <i class="fa fa-eye"></i>
            </button>
          </ng-container>
          <ng-template #sinObs> -</ng-template>
        </td>
        <td class="min-width d-flex">
          <div class="pointer icon-box mr-3" (click)="eliminarAdministrador(usuario)">
            <i class="fa fa-trash color-principal"></i>
          </div>
          <div class="pointer icon-box" (click)="editarAdministrador(usuario)">
            <i class="fa fa-pencil color-principal"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="addAdministrador" tabindex="-1" aria-labelledby="addAdministradorLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <app-add-administrador
      [editUser]="isEdit"
      [initialData]="selectedAdmin"
      (submit)="onSubmit($event)"
      (clicked)="cerrarModal()">
    </app-add-administrador>
  </div>
</div>

<div *ngIf="this.loading" class="empty-container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <img class="icono" src="../../../assets/img/cargando.png"/>
    <span class="pt-2">Cargando...</span>
  </div>
</div>

<div *ngIf="!this.loading && administradores?.length === 0 && showEmpty" class="empty-container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <img class="icono" src="../../../assets/img/default.png"/>
    <span class="pt-2">No se encontraron resultados.</span>
  </div>
</div>
