<div class="row separacionSuperior">
  <div class="col-sm-12 col-md-6" data-aos="fade-right">
    <h4 class="titulares">
      <B class="color-principal">Mogensen – Montenegro – Asesora de Seguros.</B><br />
    </h4>
    <span class="text-muted subTitulo">La tranquilidad de estar seguro.</span>
    <p class="lead pt-3">
      Con una trayectoria de más de 15 años en el mercado, <b>Mogensen – Montenegro </b> se ha consolidado como una
      empresa destacada en el asesoramiento de seguros, con especialización en consorcios. Nuestra experiencia y
      dedicación nos han permitido construir una sólida reputación basada en la confianza y la satisfacción de nuestros
      clientes.
      <br />
      <br />
      <b>Nuestro Equipo</b> <br />
      Contamos con un equipo conformado por 9 profesionales altamente capacitados y comprometidos con la misión de
      ayudar a las personas a asegurar y proteger sus activos más importantes. Cada miembro del equipo aporta su
      conocimiento y experiencia para ofrecer soluciones personalizadas y eficaces a nuestros clientes.
      <br />
      <br />

      <b>Especialización en Consorcios
      </b> <br />
      Nos especializamos en seguros para consorcios, comprendiendo la importancia de proteger los bienes comunes y
      privados de un edificio. Nuestro objetivo es brindar tranquilidad y respaldo a quienes confían en nosotros para la
      administración de sus riesgos.

      <br />
      <br />
    </p>
    <div class="estiloSeparador"></div>

  </div>
  <div class="col-md-6" data-aos="fade-right">
    <div>
      <img class="w-100" src="../../../assets/img/loginSeccion.jpg" alt="imagen de empresa" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6" data-aos="fade-right">
    <div>
      <img class="w-100" src="../../../assets/img/equipo.jpg" alt="imagen de empresa" />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <p class="lead">
      <b>Soluciones para Todos
      </b> <br />
      Nuestra amplia gama de opciones de seguros está diseñada para garantizar que cada cliente encuentre exactamente lo
      que necesita. Entendemos que cada situación es única, y por ello, nos comprometemos a proporcionar:
      <br /> <br>
      <i>Asesoramiento Personalizado:</i> Nuestros expertos están siempre disponibles para ofrecer orientación detallada y
      resolver cualquier duda que pueda surgir.

      <br />
      <i>Coberturas Flexibles: </i>Sabemos que las necesidades cambian con el tiempo, por lo que nuestras pólizas pueden
      adaptarse a nuevas circunstancias.
      <br>
      <i>Acceso Rápido y Sencillo:</i> Facilitamos el proceso de contratación y gestión de seguros para que los clientes puedan
      centrarse en lo que realmente importa.
      <br><br>
      <b>Compromiso con la Calidad

      </b> <br />
      Nos esforzamos por mantener los más altos estándares de calidad en todos nuestros servicios. Nuestra prioridad es
      la satisfacción del cliente, y trabajamos incansablemente para asegurar que cada interacción con nosotros sea
      positiva y beneficiosa.

      <br><br>
      <b>Atención al Cliente de Excelencia: </b>
      Nuestro equipo está dedicado a proporcionar una atención cercana y eficiente, asegurando que todas las consultas
      se resuelvan de manera oportuna.
      <br> <br>
      <b>Actualización Constante: </b>
      Nos mantenemos al día con las últimas tendencias y regulaciones del sector para ofrecer las mejores soluciones
      posibles.
      <br> <br>
      <b>Innovación Continua: </b>
      Estamos comprometidos con la mejora continua de nuestros productos y servicios, incorporando tecnología avanzada
      para optimizar la experiencia del cliente.
      <br>
    </p>
  </div>
    <div class="col-12">
    <p class="conclusion">
      En conclusión, nuestra empresa está preparada para satisfacer las necesidades de seguro de cualquier individuo o empresa. Nos comprometemos a ofrecer un servicio de calidad, adaptado a las particularidades de cada cliente, garantizando así su tranquilidad y confianza en nosotros.
    </p>
    </div>
</div>
