input, textarea {
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #e1dfdf;
  font-size: 15px;
  font-weight: 300;
  color: #656464;
  transition: all 0.3s ease;
}

input:focus, textarea:focus {
  background-color: #e1dfdf;
  box-shadow: 0 0 0 2px #b9b9b9;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.subtitle {
  font-weight: 900;
  font-size: 18px;
}

.modal-body .form-select {
  width: 100%;
  padding: 9px 5px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #f0eeee;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  transition: all 0.3s ease;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
