<div class="row p-5">
  <div class="col-6">
    <h3 class="title">Carga de Archivos</h3>
    <span class="sub-titulo">Se almacenarán todos los archivos de los consorcios seleccionados.</span>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <div id="administradores">
      <select class="form-select" [(ngModel)]="adminSeleccionadoId" (change)="onAdministradorSeleccionado()">
        <option class="color-principal bg-color-light" disabled selected value="">
          Seleccionar un administrador
        </option>
        <option *ngIf="!administradores?.length" value="">
          Sin administradores
        </option>
        <option *ngFor="let data of administradores" [ngValue]="data._id">
          {{ data.nombre }}
        </option>
      </select>
    </div>
    <div class="pl-3" id="administradores">
      <select class="form-select" [(ngModel)]="consorcioSeleccionadoId" (change)="onConsorvioSeleccionado()" [disabled]="!adminSeleccionadoId">
        <option class="color-principal bg-color-light" disabled selected value="">
          Seleccionar un consorcio
        </option>
        <option *ngIf="!consorcios?.length" value="">
          Sin consorcios
        </option>
        <option *ngFor="let data of consorcios" [ngValue]="data._id">
          {{ data.nombre }}
        </option>
      </select>
    </div>
    <div class="pl-3">
      <button class="btn btn-primary h-button btn-color" [disabled]="!consorcioSeleccionadoId" (click)="crearNuevaCarpeta()">
        Nueva Carpeta
      </button>
    </div>
  </div>
</div>

<!-- CARPETAS -->
<div class="row p-5" *ngIf="carpetas.length">
  <div class="card mr-5 mb-3" *ngFor="let carpeta of carpetas" (click)="seleccionarCarpeta(carpeta)" style="cursor: pointer;">
    <div (click)="$event.stopPropagation(); verArchivosDeCarpeta(carpeta)">
      <div class="top-section">
        <div class="border"></div>
        <div class="icons">
          <div class="logo">
            <span class="text-file">{{ carpeta.cantidadArchivos ?? 0 }} archivos</span>
          </div>
        </div>
      </div>
      <div class="bottom-section">
        <span class="title">{{ carpeta.titulo }}</span>
        <div class="row row1">
          <button class="btn btn-light" (click)="$event.stopPropagation(); renombrarCarpeta(carpeta)">Editar</button>
          <button class="btn btn-danger" (click)="$event.stopPropagation(); eliminarCarpeta(carpeta)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(!carpetas.length && showEmpty)" class="empty-container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <img class="icono" src="../../../assets/img/default.png"/>
    <span class="pt-2">No se encontraron resultados.</span>
  </div>
</div>

<div *ngIf="this.consorcioSeleccionadoId == ''" class="empty-container">
  <div class="d-flex align-items-center justify-content-center flex-column">
    <img class="icono" src="../../../assets/img/consorcio.png"/>
    <span class="pt-2">Seleccione un consorcio.</span>
  </div>
</div>
