.imagenSocio {
  background-image: url(../../../assets/img/contacto.jpg);
  width: 90%;
  height: 450px;
  padding-top: 60px;
  padding-bottom: 50px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-repeat: no-repeat;
  border-radius: 0 0 25px 25px;
  background-position: bottom;
}

.textoSocio{
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  margin: 150px;
  p {
    color: #b91828;
    font-size: 1.2rem;
  }
  h1{
    font-size: 2rem;
  }
}


.row{
  z-index: -1;
  position: relative;
}

@media screen and (max-width: 450px) {
  .textoSocio{
    padding: 0;
  }
  .textoSocio h1{
    font-size: 1.8rem;
  }
  .imagenSocio{
    height: auto;
    padding-top: 70px;
    background-image: none;
    padding-bottom: 30px ;
  }
}

/* From Uiverse.io by Pravins01 */
.card {
  position: relative;
  width: 240px;
  height: 254px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  text-align: center;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 250px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #960514 0%, #ff8f26 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #960514 0%, #ff8f26 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.number-tel {
  color: #b91828;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.w-icon{
  width: 100px;
}

.w-icon-email{
  width: 50px;
  padding-bottom: 11px;
}


